:host {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #121213;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

label {
  height: 40px;
  width: 40px;
  margin: 5px;
  padding: 5px;
  color: #808080;
  border: 2px solid #3a3a3c;
}

.longButtons {
  height: 40px;
  width: 100px;
  margin: 5px;
  padding: 5px;
  color: #808080;
  border: 2px solid #3a3a3c;
}

.spaceButton {
  height: 40px;
  width: 350px;
  margin: 5px;
  padding: 5px;
  color: #808080;
  border: 2px solid #3a3a3c;
}

.keyboard-row {
  display: flex;
  margin: 7px;
  padding: 7px;
  justify-content: center;
  align-items: center;
}

.pressed {
  background-color: #565758;
}
