.screen {
  border: 2px solid #3a3a3c;
  width: 80vw;
  height: 45vh;
  margin: 50px;
  display: fixed;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.highlight {
  background-color: yellow;
}

span {
    font-size: 50px;
  color: #808080;
}
